@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.background {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b, #020617);
  background-size: cover;
  padding: 20px;
  width: 100vw;
}
.overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}
.login-head{
  font-size:24px;
  font-weight: bold;
  font-style:caveat;
}

.login-card {
  width: 100%;
  max-width: 380px;
 background:rgba(255, 255, 255, 0.1);
 backdrop-filter: blur(1px);
  padding: 35px 30px;
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 0%;
   box-shadow:0 30px 70px rgba(0,0,0,.35);
  animation:slideUp .8s ease;
 

}
.card-button {
  margin-top: 8px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  transform:translateY(-2px);
  box-shadow:0 12px 24px rgba(0,0,0,.25);
}
input {
  padding: 12px;
  border-radius: 10px;
  background: transparent;
   color:white;
  font-size: 16px;
  border-color: aliceblue;
}
.user-heading{
  color:white;
  font-size: 40px;
  font-weight: bold; 
 
}
.main-heading{
  color:white;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  font-family: open sans;
}
.para{
  color:white;
  font-size: 18px;
  font-family:open sans;
  font-weight: 200;
  
}
.ad{
  color:white;
  font-size: 13px;
  font-family:open sans;
  font-weight: 100;
  
}
.previous-toogle{
  color:white;
  font-size: 30px;
  font-family:open sans;
  font-weight: 100;
  cursor:pointer;


}
.welcome{
  color:white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: open sans;
}
.tag{
  color:#59AEFB;
  font-size: 34px;
  font-family:open sans;
  font-weight: 100;
  font-family:caveat;
}
body{
    margin:0;
    height:100vh;
    background: radial-gradient(circle at top, #1a1a2e, #000);
    font-family: Arial, sans-serif;
}

.card-start{
    width:340px;
    padding:25px;
    border-radius:20px;
    background:transparent;
 backdrop-filter: blur(1px);
    box-shadow: 0 0 25px rgba(207, 11, 21, 0.2);
    text-align:center;
    color:transparent;
    animation: fadeIn 1s ease;
}
.card-start h1{
    font-size:26px;
    color:white;
    margin-bottom:12px;
    letter-spacing:1px;
}
.card-start p{
    font-size:14px;
    opacity:0.85;
    line-height:1.6;
}

.start-btn{
    margin-top:20px;
    padding:12px 28px;
    border:none;
    border-radius:10px;
    font-size:16px;
    color:white;
    background: linear-gradient(45deg,#9f8fad,#dd1b1b);
    cursor:pointer;
    box-shadow:0 0 15px #a1a3a3;
    transition:0.3s ease;
    animation:pulse 1.5s infinite;
}

.btn:hover{
    transform:scale(1.12);
    box-shadow:0 0 30px #232525;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.05);}
    100%{transform:scale(1);}
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.games{
  width: 100%;
  max-width: 320px;
  height: auto;
 background:rgba(255, 255, 255, 0.1);
  padding:30px;
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  margin:15px  ;
  transition: 0.3s;
   box-shadow:0 30px 70px rgba(0,0,0,.35);
  animation:slideUp .8s ease;
}
.games:hover {
  transform: translateY(-10px);
}
.row{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;

}
.game-heading{
  color:white;
  font-size: 34px;
  font-weight: bold;
  font-family: open sans;
}
.game-para{
  color:white;
  font-size: 16px;
  font-family:open sans;
  font-weight: 100;
}
.game-button{

  border: none;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 4px;
width:80px;
transform:translateY(-2px);
  box-shadow:0 12px 24px rgba(0,0,0,.25);
}
.game-image{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:10px;
}
.back-reasoning{
  background-image:url("https://wallpapercave.com/wp/wp2665743.jpg");
  height: 100vh;
  display:flex;
  justify-content: center;

}
.head-reasoning{
  text-align: center;
  margin:20px;
  font-family:"fantasy";
  font-size:28px;
  color:bisque;
}
.card-reasoning{
  background:linear-gradient(to bottom, rgb(115, 130, 88),dimgray  );
  height: auto;
  width: 350px;
  border-radius:10px;
  color:white;
  padding:24px;
  justify-content: center;
  display:flex;
  flex-direction: column;
  margin-top: 90px;

}
.exit{
  color:white;
  font-size:15px;
  font-weight: bold;
  cursor:pointer;
}
.question{
  font-size:18px;
  font-family: monospace;
  color:lavenderblush;
  margin:10px;
  text-align: center;
}
.opt{
  background-color: rgba(0,0,0,.25);
  color:white;
  width:280px;
  margin:10px;
  padding:8px;
  font-family: serif;
  border-radius: 6px;
  box-shadow: none;
}
.nxt{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin:10px;
  cursor: pointer;
  border-radius:5px ;
  width:60px;
  height:30px;
  border:0px;
  
}
.timer{
  font-size:17px;
  color:white;
}
.msg{
  font-size:36px;
  color:white;
  text-align: center;
  margin:10px;
}
.scoreboard{
  font-size:17px;
  color:yellow;
  font-weight: bold;
  margin-left:80px ;
 
}